body{
    background-color: black;
}
.corpo{
    background-image: url('./imag/01.jpg');
    width: 400px;
    height: 250px;
    background-size: cover;
    padding: 2px 20px;
    margin: auto;
}
.instagram{
list-style-image: url('./imag/instagram-logo-16.png');
margin-left: 30px;

}
.telegram{
    list-style-image: url('./imag/Imagem-Telegram-Logo-PNG-Preto\ \(1\).png');
    margin-left: 30px;
}
.facebook{
    list-style-image: url("./imag/Ícone-logo-Facebook-PNG.png");
    margin-left: 30px;
}